<html>
    <head>
        <title>Bogdan's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Bogdan's Blog</a></h1>
        </div>
        <div>
            <p>published:01.07.2020, 20:32</p>
            <h2><a href="">This Year at University</a></h2>
            <p>Placeholder text</p>
        </div>
        <div>
            <p>published:07.07.2020, 17:12</p>
            <h2><a href="">Future Studies</a></h2>
            <p>Placeholder text</p>
        </div>
    </body>
</html>